dist: jammy
language: generic
vm:
  size: 2x-large
group: edge
script: 
  - sudo apt-get update 
  - sudo apt install qemu-kvm libvirt-daemon-system bridge-utils virt-manager
  - sudo adduser `id -un` libvirtd
